body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f9ff;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 30px;
}

.job-listing {
  background:linear-gradient(TO RIGHT,rgb(231, 189, 217),rgb(59, 56, 93));
  border-left: 6px solid #0077b6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.job-listing h2 {
  color: #023e8a;
  margin: 0;
}

.job-listing p {
  color: #555;
}

.apply-btn {
  background-color: #0077b6;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
 .apply-btn:hover {
    background-image: linear-gradient(to right, #6b5a79, #4a00e0);
  }

.apply-form {
  display: none;
  margin-top: 15px;
}

.apply-form input,
.apply-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.submit-btn {
  background-color: #38b000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
